*.swp
*.o
*.a
.deps/
*_driver

cgdb/cgdb

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
stamp-h1
configure
configure.ac
config.h
config.h.in
config.log
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/mdate-sh
config/missing
config/texinfo.tex
config/ylwrap

doc/cgdb.1
doc/cgdb.info
doc/cgdb.txt
doc/stamp-vti
doc/version.texi

lib/gdbmi/gdbmi_lexer.cpp
lib/tokenizer/adalexer.cpp
lib/tokenizer/asmlexer.cpp
lib/tokenizer/cgdbhelplexer.cpp
lib/tokenizer/clexer.cpp
lib/tokenizer/dlexer.cpp
lib/tokenizer/golexer.cpp
lib/tokenizer/rustlexer.cpp

cgdb/command_lexer.cpp
cgdb_custom_config.h
