*.swp
aclocal.m4
autom4te.cache
config.h.in
config.h.in~
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/mdate-sh
config/missing
config/texinfo.tex
config/ylwrap
configure
configure.in
doc/cgdb.1
doc/cgdb.info
doc/cgdb.txt
doc/stamp-vti
doc/version.texi
lib/gdbmi/config.h.in
lib/gdbmi/configure
lib/gdbmi/depcomp
lib/gdbmi/install-sh
lib/gdbmi/missing
lib/gdbmi/ylwrap
Makefile.in
build/
install/
release/
