/* Global whitespace reset */
* {
    padding: 0;
    margin: 0;
}

/* Global element styles */

body {
    background-color: #312e2b;
}

a:link, a:visited, a:active {
    color: #3020a0;
    text-decoration: none;
    border-bottom: 1px dotted #c0c0c0;
}

a:hover {
    color: #4030a0;
    text-decoration: none;
    border-bottom: 1px solid #4030a0;
}

a img {
    /* Don't put borders around images that are links */
    border: none;
}

h3 {
    padding: 0.6em 0;
}

h4 {
    margin: 0 0 0.8em 0;
}

h5 {
    margin: 0 0 0.3em 0;
}

p {
    margin: 0 0 1em 0;
}

ul {
    margin: 0 0 1em 1.5em;
}

ol {
    margin: 0 0 1em 2em;
}

code {
    display: block;
    border: 1px dashed black;
    background-color: #ffffe0;
    margin: 0.5em;
    padding: 0.5em;
}

/* Common styles to all site pages */

#wrapper {
    font-family: helvetica, arial, sans-serif;
    width: 760px;
    background-image: url('images/cgdb_session.jpg');
    background-repeat: no-repeat;
    background-position: 360px 0px;

    /* IE6 PNG Transparency Fix */
    behavior: url("iepngfix/iepngfix.htc");
}

.header {
    height: 135px;
    position: relative;

    /* Preload the menu hover images for snappiness, position 
     * is set offscreen, so it's unseen */
    background-image: url('images/hover_tab.png');
    background-repeat: no-repeat;
    background-position: 0px -20px;
}

#logo {
    background-image: url('images/cgdblogo.png');
    height: 100px;
    width: 200px;
    position: relative;
    left: 25px;
    top: 7px;

    /* IE6 PNG Transparency Fix */
    behavior: url("iepngfix/iepngfix.htc");
}

#menu {
    position: absolute;
    display: block;
    top: 116px;
    left: 24px;
    height: 18px;
    width: 736px;
}

.menu ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
}

.menu a {
    /* Hide menu item text */
    display: block;
    height: 0px !important;
    width: 105px;
    overflow: hidden;
    padding-top: 19px;

    /* IE6 PNG Transparency Fix */
    behavior: url("iepngfix/iepngfix.htc");

    /* IE6 hover pointer fix */
    cursor: pointer;
}

/* In the top menu, don't do the border "underlining" effect */
.menu a:link, .menu a:visited, .menu a:active, .menu a:hover {
    border-bottom: none;
}

.menu li {
    float: left;
    margin-right: 1px;
    width: 105px;
    height: 19px;
    background-image: url('images/inactive_tab.png');

    /* IE6 PNG Transparency Fix */
    behavior: url("iepngfix/iepngfix.htc");
}

.menu li:hover {
    background-image: url('images/hover_tab.png');
}

/* Menu item text images */

.menu li#home a {
    background-image: url('images/menu_home.png');
}

.menu li#download a {
    background-image: url('images/menu_download.png');
}

.menu li#screenshots a {
    background-image: url('images/menu_screenshots.png');
}

.menu li#documentation a {
    background-image: url('images/menu_documentation.png');
}

.menu li#support a {
    background-image: url('images/menu_support.png');
}

/* For the page we're currently on, override the inactive tab background
 * image (specified above) with the active tab image. */

#home_page .menu li#home {
    background-image: url('images/active_tab.png');
}

#download_page .menu li#download {
    background-image: url('images/active_tab.png');
}

#screenshots_page .menu li#screenshots {
    background-image: url('images/active_tab.png');
}

#documentation_page .menu li#documentation {
    background-image: url('images/active_tab.png');
}

#support_page .menu li#support {
    background-image: url('images/active_tab.png');
}

#content {
    background-color: #ffffff;
    color: #312e2b;
    margin-left: 24px;
    padding-left: 10px;
    padding-right: 1em;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    /* IE6 "has layout" workaround (peekaboo content):
     * http://www.satzansatz.de/cssd/onhavinglayout.html
     */
    width: 760px;
}

.pagetext {
    margin-left: 1em;
}

#features {
    float: left;
    width: 480px;
}

#sponsor {
    float: right;
    border: 1px outset #808080;
    width: 220px;
    text-align: center;
    padding: 0.7em;
}

#sponsor p {
    margin-bottom: 0.5em;
}

#sponsor a {
    text-decoration: underline;
    border-bottom: none;
}

#spacer {
    clear: both;
    padding-bottom: 1em;

    /* IE6 float/spacer bug fix:
     * http://www.positioniseverything.net/explorer/floatIndent.html
     */
    _display: inline;
}

#footer {
    color: #ffffff;
    padding: 0.5em 0em 0.5em 30px;
    text-align: left;
    font-size: small;
}

/* Home page styles */

.news_entry {
    margin-left: 1.5em;
}

.news_date {
    font-style: italic;
    font-weight: bold;
}

.news_text {
    margin: 1em;
}

.news_text ol, .news_text ul {
    margin: 0.5em 0em 0.5em 1.5em;
}

#sourceforge_logo {
    float: right;
    margin: 0px 5px 5px 0px;

    /* IE6 float/spacer bug fix:
     * http://www.positioniseverything.net/explorer/floatIndent.html
     */
    _display: inline;
}

#cgdb_guy {
    float: right;
    margin: 0px 5px 5px 0px;

    /* IE6 float/spacer bug fix:
     * http://www.positioniseverything.net/explorer/floatIndent.html
     */
    _display: inline;
}

/* Screenshots page styles */

#ss_thumbs {
    text-align: center;
}

.ss_thumb {
    float: left;
    margin: 1em 26px;
    width: 118px;
    cursor: pointer;

    /* IE6 float/spacer bug fix:
     * http://www.positioniseverything.net/explorer/floatIndent.html
     */
    _display: inline;
}

.ss_thumb a:hover {
    border-bottom: none;
}

/* Support page styles */

#maintainers th {
    text-align: left;
}

#maintainers td {
    padding: 0.2em 2em 0 0;
}

#maintainers {
    margin-bottom: 1em;
}
